accelerate
pillow
torch
torchvision
transformers
qwen-vl-utils
flash-linear-attention

# python3.14 -c "import torch; import torchvision; print(f'Torch: {torch.__version__} | Vision: {torchvision.__version__}')"
